#active-page-dots.teams{
    transform: translate(0%, 105%);
}
.top-gradient.teams{
    top: 0;
}

section.skyhero-sect{
    width: 100%;
    // height: 50vh;
    margin-top: 10vh;
    .container{
        position: relative;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, rgba(230, 255, 160, 0) 0%, rgba(230, 255, 160, 0.38) 21.19%, rgba(230, 255, 160, 0.38) 30.19%, #D5F7FF 65.1%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .sun-decor{
            position: absolute;
            width: 127px;
            height: 128px;
            right: 5%;
            top: -3%;
            filter: drop-shadow(0px 0px 3px rgba(239, 202, 9, 0.25));
        }
        .cloud-decor-1{
            position: absolute;
            width: 261px;
            height: 155px;
            left: 10%;
            top: 30%;
        }
        .cloud-decor-2{
            position: absolute;
            width: 241px;
            height: 135px;
            left: -5%;
            top: 70%;
        }
        .cloud-decor-3{
            position: absolute;
            width: 281px;
            height: 175px;
            right: 5%;
            top: 30%;
        }
        .cloud-decor-4{
            position: absolute;
            width: 241px;
            height: 135px;
            right: 15%;
            top: 70%;
        }
        .heading{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            margin-bottom: 4em;
            h1{
                font-size: 40px;
            }
        }
    }
}
section.bird-sect{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        .learning{
            h2{
                font-size: 32px;
                color: #145DA0;
                margin: 1rem 0;
            }
            margin-top: 1em;
            margin-left: 4em;
            width: 800px;
        }
        .flight{
            position: relative;
            margin-top: 3em;
            margin-left: 4em;
            width: 650px;
            .birds-decor{
                position: absolute;
                right: -100%;
                top: -80%;
                z-index: -3;
            }
            h2{
                font-size: 32px;
                color: #145DA0;
                margin: 1rem 0;
            }
            .wide-text{
                width: 130%;
            }
        }
    }
}
section.grass-sect{
    width: 100%;
    position: relative;
    .hair{
        height: 100px;
        background-image: url('/static/imgs/geometric/grass.svg');
        transform: translateY(40px);
    }
    .face{
        height: 80px;
        width: 100%;
        position: absolute;
        background: #319730;
        box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 40px;
        }
        a{
            padding: 0.3rem 1.5rem;
            margin: 1rem;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: bold;
            background: #B15601;
            box-shadow: 0px 0px 6px 2px rgba(255, 179, 209, 0.5);
            border-radius: 32px;
        }
        a:hover{
            transition: 0.4s;
            padding: 0.5rem 1.7rem;
            background: #723801;
        }
    }
}
section.roots-sect{
    background: url('/static/imgs/geometric/dirtscratches.svg') repeat, linear-gradient(180deg, #5A4328 0%, #241605 80.21%, #0C0631 100%),;
    display: flex;
    justify-content: center;
    .ladder{
        margin: 10em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bone-box{
            position: relative;
            display: flex;
            flex-direction: row;
            background: #D9D9D9;
            border-radius: 15px;
            margin: 2em;
            padding: 1rem;
            .bone-1.topleft{
                position: absolute;
                left: -70px;
                top: -80px;
                transform: rotate(-20.37deg);
            }
            .bone-2.btmright{
                position: absolute;
                right: -70px;
                bottom: -80px;
                transform: rotate(-20.37deg);
            }
            .bone-3.btmleft{
                position: absolute;
                left: -70px;
                bottom: -80px;
                transform: rotate(30deg);
            }
            .bone-4.btmright{
                position: absolute;
                right: -70px;
                bottom: -80px;
                transform: rotate(-15deg);
            }
            .left{
                max-width: 300px;
            }
            ol{
                margin: 0em 1.25em;
            }
        }
    }
}
footer.water{
    box-shadow: 0px -5px 5px 4px rgba(0, 0, 0, 0.25);
}