@import url('/styles/anim.css');


// MERRIWEATHER
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
    --bg-main: #ffffff;
    --bg-grey: #f4f4f4;
    --bg-grey-dark: #eeeeee;
    --bg-dark: #31363d;
    --bg-dark-alt: #21262c;
    
    --bg-light-blue: #9DD9D2;
    --bg-orange-dark:#FF8811;
    --bg-orange-light: #F4D06F;
    --bg-green: #0FFF8F;
    --bg-green-light: #78FFAC;
    --dark-blue: #211b33;
    --shadow-grey: #666666;

    --text-white: #ffffff;
    --text-dark: #080606;

    --custom-green: #89ffc8;
    --container-shadow: 2px 2px 6px var(--shadow-grey);
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; //prevents funky padding stretch
  }
  
  body {
    overflow-x: auto;
    overflow-y: scroll;
    min-height: 100vh;
    font-family: 'Merriweather', 'Times New Roman', Times, serif;
    background-color: var(--bg-main);
    color: var(--text-dark);
    //background-image: url(/imgs/icons/star-blue.png );
    
  }

  
  header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 0 0 1em 0;
    background-color: rgba(#ffffff, $alpha: 0.7);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 2;
    //background-color: rgba($color: #fdc4c4, $alpha: 1.0);

   .top-color{
    width: 100%;
    height: 5px;
    //position: absolute;
    position: fixed;
    margin: 0;
    top: 0;
    background: rgb(71,255,92);
    background: linear-gradient(90deg, var(--bg-green) 0%, rgba(248,255,61,1) 55%, var(--bg-orange-dark) 100%);
    box-shadow: var(--container-shadow);
   }
   

    #active-page{
        border-bottom-style: solid;
        border-color: rgba($color: #dd9103, $alpha: 1);
        //background-color: rgba($color: #ffb30f, $alpha: 0.35);
        //box-shadow: 2px 1px 1px var(--shadow-grey);
        padding: .6em 0;
        //border-radius: 10px;
    }


    ul{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: rgba(99, 99, 99, 0.23);
        //border-radius: 10px;
        li{
            list-style: none;
            padding: 1em;
            a{
                color: var(--text-dark);
                text-decoration: none;
                //no default looks
                :link, :visited, :hover, :active{
                    text-decoration: none;
                }
            }
            
        }
    }
  }

// ////////////////////////////////
// ////////// INTRO PAGE /////////
  section.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%; 
    background-color: var(--bg-grey);
    padding: 2em 0;
    text-align: center;
    .intro-welcome{
        width: 600px;
        margin: 1.2em;
        line-height: 1.5em;
        //width: 30%;
        h1{
            font-size: 48px;
            margin-bottom: 20px;
        }
        strong {
          color: rgba($color: #f37a00, $alpha: 1.0);
          // box-shadow: var(--container-shadow);
        }
        
        .spacer{
            width: auto;
            height: 4px;
            margin: 1em;
            background: linear-gradient(90deg, var(--bg-green) 0%, rgba(248,255,61,1) 55%, var(--bg-orange-dark) 100%);
            box-shadow: var(--container-shadow);
        }
        p{
            font-weight: 500;
            font-size: 20px;
        }
    }
    .intro-me{
        img{
            width: 300px;
            background-color: rgba($color: #cacaca3a, $alpha: 1);
            padding: 1.2em;
            margin: 1.2em;
            border-radius: 20px;
            box-shadow: var(--container-shadow);
        }
    }
    
  }

//   //////////////////////////////////////
//   ///////// PORTFOLIO PAGE ///////////


  section.portfolio-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
    //background-color: var(--bg-grey);
    background-color: #fff0d3;
    padding: 2em 0;
    text-align: center;
  }


  .portfolio-intro.cs{
    background-color: #fff0d3;
    margin-top: 1em;
  }

  section.portfolio-container{
    //width: 100%; //overflowsss
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;

    .portfolio-item-container{         
        background-color: rgba($color: #ececec3a, $alpha: 1);
        padding: 1.2em;
        margin: 1.2em;
        border-radius: 20px;
        box-shadow: var(--container-shadow);
        img{
            width: 500px;
        }
        p{
            margin-bottom:1em ;
        }
        
    }
  }
  
  .portfolio-item-container.twine{
    text-align: center;
    a{
        margin: 1em 0;
    }
}

.portfolio-item-container.website{
    img{
        width: 400px;
    }
}
// /////////////////////////////
// //////// ABOUT ME PAGE ///////////

section.about-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
    //background-color: #dfffd3;
    background-color: #d3f6ff;
    // color: #0832bb;
    padding: 2em 0;
    text-align: center;
    h1{
        font-size: 28px;
    }
  }
  .about-container{
    margin: 1em;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    // background-color: #0FFF8F;
    background-color: #f5f7f8;
    tr p{
      margin-top: 0.3em;
      margin-bottom: 1.2em;
    }
    td{
      max-width: 800px;
    }
  }

/////////////////////////////////
// /////////CONTACT PAGE //////////
section.contact-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;    
  // background-color: #f6e2ff;
  background-color: #d3ffee;
  // color: #0832bb;
  padding: 2em 0;
  text-align: center;
  h1{
      font-size: 28px;
  }
}

.contact-container{
  margin-bottom: 0;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #0FFF8F;
  background-color: #f5f7f8;
  padding-bottom: 4em;;
  p{
    margin-bottom: 1em;
  }
  
  
}

.contact-items{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
  .splitter{
    background-color: var(--text-dark);
    width: 2px;
    height: 120px;
    transform: translateY(20px);
  }
  .item{
    height: 100px;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    span{
      font-weight: 900;
    }
    i:not(#hash){
      margin: 1em;
    }
    a{
      color: var(--text-dark);
      border-radius: 20px;
    }
    /**
    a:hover{
      color: rgba($color: #ff8902, $alpha: 1.0);
      box-shadow: var(--container-shadow);
    }
    **/
    #hash{
      margin: 3px;
    }
}
.contact-container-desc{
  display: block; 
}

.contact-container.extra{
  margin: 1em;
  margin-top: 0;
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  // background-color: #0FFF8F;
  background-color: #f5f7f8;
  padding-bottom: 4em;;
  tr p{
    margin-bottom: 1em;
  }


  display: none;
}

.linkedin{
  display: none;
}